[submodule "Assets/Plugins/DashTween"]
	path = Assets/Plugins/DashTween
url=https://github.com/pshtif/DashTween.git
[submodule "Assets/Plugins/Dash"]
	path = Assets/Plugins/Dash
url=https://github.com/pshtif/Dash.git